doctype html5
html
	head
		link(rel='stylesheet', href='/styles/binding/assignment.css')
		link(rel='stylesheet', href='/styles/binding/bind.css')
		link(rel='stylesheet', href='/styles/binding/searchBox.css')
		link(rel='stylesheet', href='/styles/binding/tabs.css')
		link(rel='stylesheet', href='/styles/binding/imageList.css')
		body
			script(type='text/javascript' src='/js/iterator.js')
			script(type='text/javascript' src='/js/binding/my_list.js')
			script(type='text/javascript' src='/js/binding/assignment.js')
			script(type='text/javascript' src='/js/binding/vertical_handler.js')
			script(type='text/javascript' src='/styles/images/symbols.json')
			#container.containerCss
				#leftContainer
					#topContainer
					#contentContainer
						#originalPicture
						#emptyContainer
						#selectedPicture
					#bottomContainer
						input(type='button' id='prevBtn' value='previous' onclick='onPreviousClick()')
						input(type='button' id='nextBtn' value='next' onclick='onNextClick()')
				#verticalSideBar.handler
				#rightContainer
					#searchContainer
					#tabContainer
						ul(id='tabList')
					#imgContainer
						ul(id='imgList')
			script(type='text/javascript').
				var imageIterator;
				var categoryIndexes = [];
				getExtractedImages([#{isSymbol_values}],#{img_id},[#{catIndex_values}],createList(createRightContainerContent()));
				
				document.addEventListener('DOMContentLoaded',function(){
					addListeners();
				});
				