doctype html
html
	head
		link(rel='stylesheet', href='/openlayers/ol.css')
		link(rel='stylesheet', href='/styles/compare.css')
		script(src='/openlayers/ol.js')
		script(type='text/javascript' src='/js/util.js')
		script(type='text/javascript' src='/js/compare/from_map.js')
		
		body
			#topLayer
				#from_map_container.map-off
					#from_map 
				#vertical_handler
				#to_map_container.map-off
					#to_map
						#topDiv
						#centerDiv
							#leftDiv
							#mapDiv
							#rightDiv
						#bottomDiv
		script(type='text/javascript').
			var mouseIn = false;
			var maxW;
			var maxH;
			var margin = 8;
			var verticalW = 22;
			var borderW = 2;
			document.addEventListener('DOMContentLoaded',function(){
				create(0.6);
				
			});