include layout_extracted
block content
	script(type='text/javascript' src='/js/extracted/transparent.js')
	script(type='text/javascript').
		var targetStr = 'ovrDiv_';	
		trImg.onload = function(){
			trImg.style.webkitFilter = 'brightness(150%)';
			transparent('#{img_id}');
		}

		/*var targetStr = 'ovrDiv_'
		
			
			
		init('#{img_id}');
		
		function createDocument(x_values,y_values,isSymbol_values){
			scr_W = window.innerWidth - 20;
			scr_H = window.innerHeight - 20;
			

			if (origin_H / scr_H > origin_W / scr_W) {
				scalingFactor = origin_H / scr_H;
				trImg.style.height = scr_H + 'px';
				
				// Right Version
				//createNextButton('/extracted_mt',#{img_id}, trImg.width + 20, scr_H/2,'Weiter zu Variante B');
				// version below is for questionnaire only
				//TO DELETE
				createNextButton('/extracted_mt',2, trImg.width + 20, scr_H/2,'Weiter zu Variante B');
			} else {
				scalingFactor = origin_W / scr_W;
				trImg.style.width = scr_W + 'px';
				
				// Right Version
				//createNextButton('/extracted_mt',#{img_id}, 50, trImg.height + 20,'Weiter zu Variante B');
				// version below is for questionnaire only
				//TO DELETE
				createNextButton('/extracted_mt',2, 50, trImg.height + 20,'Weiter zu Variante B');

				
			}
			//var x = document.createElement('button');
			//x.style.position ='absolute';
			//x.style.left = '0px';
			//x.style.top= '0px';
			//x.style.width= 100+ 'px';
			//x.style.height= 100+ 'px';
			//x.style.zindex= 5000900000;
			//var textNode = document.createTextNode('width: '+ window.innerWidth+' height: '+ window.innerHeight);
			//x.appendChild(textNode);
			//mainDiv.appendChild(x);
	
			trImg.style.opacity=1.0;
			ovr_W = roundDown(extracted_W / 5 / scalingFactor);
			ovr_H = ovr_W;
	
			
			createInnerDiv(scalingFactor);
	
			for (var i = 0; i < x_values.length; i++) {
				ovr_list[i] = createOverlayDiv(i,'black');
				
			}
			
		}
		
		
		function onDivClick(event) {
			var targetID = event.target.id;
			var id = targetID.split('_')[1];
			isSymbol_values[id] = !isSymbol_values[id];
			var target = document.getElementById(targetStr + id);
			setStyleAccordingToSymbolValue(id, target, 0.5, inverted);

		}
		
		
		
		function createInnerDiv(scalingFactor){
			var innerDiv = document.createElement('div');
			innerDiv.setAttribute('id', 'innerDiv');
			innerDiv.style.position = 'absolute';
			innerDiv.style.backgroundColor = 'black';
			innerDiv.style.opacity = 0.8;
			innerDiv.style.left = (extracted_W2) / scalingFactor + ovr_W -margin + 'px';
			innerDiv.style.top = (extracted_H2) / scalingFactor + ovr_H + /*margin +*/ 'px';
			/*innerDiv.style.width = (x_values[10] - x_values[1]) / scalingFactor + 'px';
			innerDiv.style.height = (y_values[17] - y_values[11]) / scalingFactor + 'px';
	
			mainDiv.appendChild(innerDiv);
		}			*/