include layout_extracted
block content
	script(type='text/javascript' src='/js/extracted/transparent.js')
	script(type='text/javascript').
		var targetStr = 'ovrDiv_';	
		trImg.onload = function(){
			/*trImg.style.webkitFilter = 'brightness(150%)';*/
			transparent('#{img_id}');
		}