.containerCss {
	height: 100%;
	width: 100%;
}

.filterinput {
	width: 20%;
	border-radius: 7px;
	border-widht: 1px;
}

#leftContainer {
	width: 35%;
	height: 100%;
	background-color: #c0c0c0;
	float: left;
}

#rightContainer {
	background-color: transparent;
	/* background-color: #333333; */
	width: 65%;
	height: 100%;
	float: left;
}

.listElem {
	display: inline-block;
	width: 100px;
	margin: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.img {
	width: 100%;
	border: 2px solid;
}

.searchDiv {
	width: 55%;
	display: inline-block;
}

.checkedDiv {
	width: 5%;
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
}

.labelDiv {
	width: 35%;
	display: inline-block;
	vertical-align: middle;

	font-size: 16px;
  text-align: center;
  padding: 1%;
}

filter {
	display: none;
}

ul {
	list-style-type: none;
}


/*.tabs {
	width: 100%;
	display: inline-block;
}*/

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links li {
	margin: 0px 5px;
	float: left;
	list-style: none;
	width : 15%;
}

.tab-links a {
	border: solid 1px gray;
	padding: 4 font-size: 20px; lapx 15px;
	display: inline-block;
	border-radius: 3px;
	background: #B1B1B1;
	font-size: 16px;
	width: 100%; text-align : center;
	font-weight: 600;
	color: #4c4c4c;
	text-decoration: none;
	transition: all linear 0.15s;
	text-align: center;
}

.tab-links a:hover {
	background: #DDDDDD;
	text-decoration: none;
}

li.active a, li.active a:hover {
	background: #f6f6f6;
	color: #4c4c4c;
	border: solid 1px gray;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding: 15px;
	border-radius: 3px;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
	background: #fff;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}

.form-wrapper {
	width: 90%;
	padding: 8px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede #bababa #aaa #bababa;
	/* box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;*/
	border-radius: 10px;
	background-color: #f6f6f6;
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
	border-width: 1px;
	border-style: solid;
	border-color: #dedede #bababa #aaa #bababa;
}

.form-wrapper #search {
	width: 100%;
	padding: 10px 5px;
	font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	border-radius: 3px;
	height : 25px;
	vertical-align: middle;
}

.form-wrapper #search:focus {
	outline: 0;
	border-color: #aaa;
	box-shadow: 0 1px 1px #bbb inset;
}

.form-wrapper #search::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
}

.scrolling {
	/* overflow:auto;
	height: 70%; */
	
}