body {
	margin: 0;
	padding: 0;
}

#topLayer {
	margin: 8px;
}

#from_map_container {
	background-color: #666666;
	background-color: transparent;
	float: left;
}

#from_map {
	cursor: all-scroll;
	position: relative;
	height: 75%;
}

#drawOptions {
	margin-top: 8px;
}

.drawing {
	width: 200px;
	margin-left: 8px;
	margin-top: 8px;
}

.col {
	padding: .5em;
	margin-right: .4em;
	border: 1px solid #aaa;
	border-radius: 3px;
	width: 140px;
}

#preview {
	padding: .5em;
	margin-right: .4em;
	width: 140px;
}

#rotate {
	width: 140px;
	border-radius: 3px;
	margin-top: 4px;
	border: 1px solid black;
}

#siteplan_container {
	background-color: #333333;
	float: left;
}

#map {
	cursor: all-scroll;
}

#to_map {
	cursor: all-scroll;
}

.map-off {
	border: 2px solid #999999;
}

.holderDiv {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#topDiv {
	position: relative;
}

#centerDiv {
	position: relative;
	float: left;
}

#leftDiv {
	position: relative;
	float: left
}

#mapDiv {
	position: relative;
	float: left;
}

#rightDiv {
	position: relative;
	float: left;
}

#bottomDiv {
	position: relative;
	float: left;
}

#vertical_handler {
	display: inline-block;
	float: left;
	/* cursor: col-resize; */
	top: -5px;
	/* border: 1px solid #D6D6D6; */
	background: /* url(/styles/img/handle-v.png) */ 50% 50% no-repeat #eee;
}