#topContainer {
	background-color: green;
	background-color: transparent;
	display: inline-block;
	float: left;
	width: 100%;
	height: 33%;
}

#contentContainer {
	background-color: fuchsia;
	background-color: transparent;
	display: inline-block;
	width: 100%;
	height: 33%;
}

/*centerContainer*/
.cCon {
	display: inline-block;
	height: 100%;
	float: left;
}
/*centerContainer .containerLeftRight*/
.cCon.cLR {
	width: 48%;
}
/*centerContainer .containerEmpty*/
.cCon.cE {
	width: 4%;
	background-color: yellow;
	background-color: transparent;
}

#bottomContainer {
	background-color: teal;
	background-color: transparent;
	width: 100%;
	height: 25%;
	display: inline-block;
	float: left;
	background-color: teal;
}

.pictures {
	margin: 2%;
	width: 95%;
	border: 1px solid;
}

.btn {
	cursor: pointer;
	width: 53px;
	height: 52px;
	border: 0px;
	margin-top: 5%;
}

.left {
	background: url('../images/arrow_left.png');
	float: left;
}

.right {
	background: url('../images/arrow_right.png');
	float: right;
}