#topContainer {
	display: inline-block;
	background-color: green;
	width: 100%;
	height: 25%;
}
#originalPicture {
	background-color: maroon;
	width: 50%;
	height: 50%;
	display: inline-block;
}

#selectedPicture {
	background-color: orange;
	width: 50%;
	height: 50%;
	display: inline-block;
}

#bottomContainer{
	background-color: teal;
	width: 100%;
	height: 25%;
	display: inline-block;
}
