.containerCss {
	height: 100%;
	width: 100%;
}

#leftContainer {
	width: 30%;
	height: 100%;
	background-color: #c0c0c0;
	float: left;
}

#verticalSideBar {
	display: inline-block;
	left: 30%;
	float: left;
	width: 8px;
	height: 100%; 
	margin-left: 0.5%;
	margin-top: -1%;
	margin-right: 0.5%;
	cursor: col-resize;
	top: -5px;
	border: 1px solid #D6D6D6;
	background: url(/styles/images/handle-v.png) 50% 50% no-repeat #eee;
}

.handler {
	
}

#rightContainer {
	background-color: #333333;
	background-color: transparent;
	width: 100%;
	width: 65%;
	height: 100%;
	float: left;
}

#headerContainer {
	height: 10vh;
}

ul {
	list-style-type: none;
}