.containerCss {
	height: 100%;
	width: 100%;
}

#leftContainer {
	width: 35%;
	height: 100%;
	background-color: #c0c0c0;
	float: left;
}

#rightContainer {
	background-color: #333333;
	background-color: transparent;
	width: 100%;
	width: 65%;
	height: 100%;
	float: left;
}

#headerContainer {
	height: 10vh;
}

#searchContainer {
	border-color: #dedede #bababa #aaa #bababa;
	border-radius: 10px;
	background-color: #f6f6f6;
	border-width: 1px;
	border-style: solid;
	margin: 0% 1vw;
	padding: 0% 1vw 0% 1vw;
	font-size: 2vw;
	height: 8vmax;
}

#tabContainer {
	height: 5vmax;
	margin: 1vmax 1vw;
}

#imgContainer {
	overflow-x: auto;
	margin-top: 1vmax;
	padding: 0% 1vw 0% 2vw;
	margin-left: 2vmax;
	/* border: 1px solid; */
}

ul {
	list-style-type: none;
}