#searchContainer {
	border-color: #dedede #bababa #aaa #bababa;
	border-radius: 10px;
	background-color: #f6f6f6;
	border-width: 1px;
	border-style: solid;
	/* margin: 0%;
	padding: 0% 1% 0% 1%;
	height: 15%; */
}

.searchBoxDiv {
	width: 35%;
	height: 4%;
	display: inline-block;
	margin: 4% 2% 4% 3%;
}

#inputSearch {
	width: 100%;
	font: bold 1vmax 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	border-radius: 25px;
	height: 100%;
}

#inputSearch:focus {
	outline: 0;
	border-color: #aaa;
	box-shadow: 0 1px 1px #bbb inset;
}

.surrounding {
	width: 60%;
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
}

#checkbox {
	width: 18px;
	vertical-align: -webkit-baseline-middle;
}

#checkboxLabel {
	font-size: 1.1vmax;
	margin-left: 1%;
	vertical-align: -webkit-baseline-middle;
}